<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>大工上海校友会</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css"/>
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script src="js/register/register.js"></script>
</head>
<body>
<div id="login">
    <h1>注册</h1>
    <form id="register_content">
        <input type="text" required="required" placeholder="用户名" name="name"></input>
        <input type="password" required="required" placeholder="密码" name="password" minlength="6"></input>
        <input type="email" required="required" placeholder="邮箱" name="email"></input>
        <input type="number" required="required" placeholder="手机" name="phone" size="13"></input>
        <input type="text" required="required" placeholder="学校" name="school"></input>
        <input type="text" required="required" placeholder="院系" name="department"></input>
        <input type="text" required="required" placeholder="专业" name="major"></input>
        <input type="text" required="required" placeholder="工作地区" name="local"></input>
        <input type="text" required="required" placeholder="性别" name="gender"></input>
        <input type="date" required="required" placeholder="毕业日期" name="graduateDate"></input>
        <input type="text" required="required" placeholder="公司名称" name="companyName"></input>
        <input type="number" required="required" placeholder="qq" name="qq"></input>
        <button class="but" onclick="goRegister()">注册</button>
    </form>
</div>
</body>
</html>